__pycache__
finetuning_impl/__pycache__
data/*
mlruns/*
prompts/*
outputs/*
results/*
logs/*

# Track only the shared template config
configs/**/*.yaml
configs/**/*.yml
!configs/default.yaml
!configs/example.yaml
!configs/7_finetuning_latn.yaml
!configs/7_finetuning_no_latn.yaml

 
.python-version
.DS_Store
.vscode/

eval/perplexity
eval/perplexity/outputs/
eval/perplexity/results/
*.log

AGENTS.md
tmp.ipynb


run.sh