__pycache__
finetuning_impl/__pycache__
data/*
mlruns/*
prompts/*
outputs/*
results/*
 
.python-version
.DS_Store
.vscode/

eval/perplexity
eval/perplexity/outputs/
eval/perplexity/results/
*.log

AGENTS.md